@import '../../../assets/styles/variables.scss';

.container {
	width: 100%;
	position: relative;
	overflow: hidden;

	@media (max-width: $layout-mobile) {
		height: 13rem;
	}

	@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
		height: 16rem;
	}

	@media (min-width: $layout-desktop) {
		height: 20rem;
	}

	> img {
		user-select: none;
		height: 100%;
		width: 100%;
		position: absolute;

		@media (max-width: $layout-mobile) {
			&:nth-child(-n + 5) {
				left: -40%;
			}

			&:nth-child(n + 5) {
				right: -40%;
			}
		}

		@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
			&:nth-child(-n + 5) {
				left: -35%;
			}

			&:nth-child(n + 5) {
				right: -35%;
			}
		}

		@media (min-width: $layout-desktop) {
			&:nth-child(-n + 5) {
				left: -30%;
			}

			&:nth-child(n + 5) {
				right: -30%;
			}
		}
	}
}
