@import '../../../assets/styles/variables.scss';

.container {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $white;
	margin-top: -200vh;
	transition: margin-top 0.3s ease-in-out;

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: auto;

		@media (max-width: $layout-mobile) {
			height: 2.5rem;
			max-width: 17rem;
			padding: 2.5rem 0;
		}

		@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
			height: 3rem;
			max-width: 50rem;
			padding: 3rem 0;
		}

		@media (min-width: $layout-desktop) {
			height: 3.75rem;
			max-width: 67rem;
			padding: 3.75rem 0;
		}
	}
}

.active {
	margin-top: 0vh;
}

.menu {
	color: $gray;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	div {
		> ul {
			> li {
				font: $itc-medium;

				> a {
					color: $gray;
				}
			}
		}
	}
}
