@import '../../../assets/styles/variables.scss';

.container {
	width: 100%;
	color: $accent;
	box-sizing: border-box;
	border-left: 2px solid $accent;
	user-select: none;

	@media (max-width: $layout-mobile) {
		height: 2.5rem;
		border-right: 2.5rem solid $accent;
		padding: 0.75rem 0 0 2.5rem;

		> img {
			height: 2.5rem;
		}
	}

	@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
		height: 3rem;
		border-right: 3rem solid $accent;
		padding: 0.75rem 0 0 3rem;

		> img {
			height: 3rem;
		}
	}

	@media (min-width: $layout-desktop) {
		height: 3.75rem;
		border-right: 3.75rem solid $accent;
		padding: 0.75rem 0 0 3.75rem;

		> img {
			height: 3.75rem;
		}
	}

	> img {
		margin-top: -0.75rem;
	}

	> span {
		text-transform: uppercase;
		color: $white;

		@media (max-width: $layout-mobile) {
			line-height: 21px; // !!check
			font-size: 24px;
		}

		@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
			line-height: 34px;
			font-size: 40px;
		}

		@media (min-width: $layout-desktop) {
			line-height: 48px;
			font-size: 50px;
		}

		&:last-child {
			color: $gray;
		}
	}
}
