@import '../../assets/styles/reset.scss';
@import '../../assets/styles/variables.scss';

html {
	scroll-behavior: smooth;
}

body {
	background-color: $black;
	font-size: 16px;
	color: $white;
	font: $itc-bold;
	transition: all 0.3s ease-in-out;
}

a {
	text-decoration: none;
	color: $white;
}

.container {
	margin: 0 auto;

	@media (max-width: $layout-mobile) {
		min-width: 17rem;
		max-width: 21rem;
	}

	@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
		min-width: 22rem;
		max-width: 44rem;
	}

	@media (min-width: $layout-desktop) {
		max-width: 67rem;
	}
}
