@import '../../../assets/styles/variables.scss';

.container {
	margin: 3.75rem 0;
	display: grid;
	grid-auto-flow: column;
	border: 2px solid $gray;
	grid-gap: 2px;
}

.item {
	height: 3.75rem;
	font-size: 1.25rem;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 20px;
	cursor: pointer;
	user-select: none;
	background-color: $black;
	color: $white;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

	&:nth-child(2) {
		border: none;
	}

	&:hover {
		color: $accent;
	}
}

.active {
	background-color: $gray;
	color: $white;
}
