@import '../../assets/styles/variables.scss';

.container {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@media (max-width: $layout-mobile) {
		padding-top: 2rem;
		padding-bottom: calc(6rem - 2rem);

		.ticker {
			padding-top: 2.5rem;

			.mask {
				top: 2.5rem;
				height: calc(4.2rem * 4);
				width: 30%;
			}

			.row {
				height: 3rem;

				.cell {
					font-size: 1rem;
					line-height: 1rem;
					margin-right: 1.3rem;
					padding-top: 0.6rem;
				}
			}
		}
	}

	@media (min-width: $layout-tablet-from) and (max-width: $layout-tablet-to) {
		padding-top: 3rem;
		padding-bottom: calc(8rem - 3rem);

		.ticker {
			padding-top: 3rem;

			.mask {
				top: 3rem;
				height: calc(4.2rem * 4);
				width: 30%;
			}

			.row {
				height: 3.75rem;

				.cell {
					font-size: 1.125rem;
					line-height: 2.5rem;
					margin-right: 2.125rem;
					padding-top: 1.4rem;
				}
			}
		}
	}

	@media (min-width: $layout-desktop) {
		padding-top: 3.75rem;
		padding-bottom: calc(10rem - 3.75rem);

		.ticker {
			padding-top: 3.75rem;

			.mask {
				top: 3.75rem;
				height: calc(4.2rem * 4);
				width: 30%;
			}

			.row {
				height: 4.5rem;

				.cell {
					font-size: 1.5rem;
					line-height: 3rem;
					margin-right: 3rem;
					padding-top: 0.6rem;
				}
			}
		}
	}

	.ticker {
		position: relative;

		.mask {
			position: absolute;

			&:first-child {
				left: 0;
				background: linear-gradient(
					90deg,
					$black 0%,
					rgba(16, 16, 18, 0) 100%
				);
			}

			&:last-child {
				right: 0;
				background: linear-gradient(
					-90deg,
					$black 0%,
					rgba(16, 16, 18, 0) 100%
				);
			}
		}

		.row {
			display: flex;
			flex-direction: row;

			&:nth-child(2n) {
				float: right;
				animation-name: forward;
				animation-duration: 60s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			&:nth-child(2n - 1) {
				float: left;
				animation-name: back;
				animation-duration: 60s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			.cell {
				user-select: none;
				text-align: center;
			}
		}
	}
}

@keyframes forward {
	0% {
		margin-right: 0;
	}

	100% {
		margin-right: -100%;
	}
}

@keyframes back {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -100%;
	}
}
